@model CustomerPortal.ViewModel.LoginViewModel
@{
   ViewData["Title"] = "Login Page";
   ViewData["HideNav"] = true;

}

<div class="d-flex text-center justify-content-center align-items-center">
    
    <div class="card p-5 mt-5" style="width: 90%;">
        <h2 class="mb-3 text-center">Welcome to MCBA</h2>
        <span class="text-center text-muted mb-2">Most Common Bank Australia</span>
        <p class="text-center text-muted mb-5">Please login with your registered account details</p>

        <div class="d-flex justify-content-center">
            <div class="card shadow p-4" style="width: 500px;">
                <h2 class="mb-2 text-center">Login</h2>
                <!-- General error (e.g., invalid credentials) -->
                @if (TempData["Error"] is string err && !string.IsNullOrWhiteSpace(err))
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @err
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <!-- Model validation summary -->
                <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

                
                <form asp-controller="Login" asp-action="HandleLogin" method="post">
                    <div class="form-group">
                        <label asp-for="LoginID">Login ID</label>
                        <!-- need asp-for for inputs -->
                        <input width="30px" type="text" class="form-control" asp-for="LoginID" required/>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input type="password" class="form-control" asp-for="Password" required/>
                    </div>
                    <div class="d-grid justify-content-center align-items-center" style="width: 100%; margin-top: 20px;">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    
    

    